
.box_dashboard{
	background: #fff;
	width: 100%;
	height: auto;
	padding: 20px;
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.box_dashboard .logo{
	width: 30px;
	height: auto;
	display: flex;
	flex-direction: column;justify-content: center;
}
.box_dashboard .logo img{
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
.box_dashboard .content{
	padding: 30px;
	padding-top: 0;
	padding-bottom: 0;
}	


.row_box_grafik{
	margin-top: 30px;
}

.box_grafik{
	background: #fff;
	width: 100%;
	height: auto;
	padding: 20px;
	flex-direction: row;
	padding: 20px;
}

