.col_container_data{
	background: #fff;

}
.col_container_data{
	margin-bottom: 20px;
}
.title_type_data{
	width: fit-content;
	padding: 20px;
	background: grey;
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;

}

.row_box_dashboard{

}
.box_dashboard{
	background: #fff;
	width: 100%;
	height: auto;
	padding: 20px;
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3) !important;
}
.box_dashboard .logo{
	width: 30px;
	height: auto;
	display: flex;
	flex-direction: column;justify-content: center;
}
.box_dashboard .logo img{
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
.box_dashboard .content{
	padding: 30px;
	padding-top: 0;
	padding-bottom: 0;
}	


.row_box_grafik{
	margin-top: 30px;

}
.row_box_grafik > .col_box_grafik{
	margin-bottom: 20px;
}
.box_grafik{
	background: #fff;
	width: 100%;
	height: auto;
	padding: 20px;
	flex-direction: row;
	padding: 20px;
}

.col_box_grafik{
	box-shadow: 0 0.125rem 0.25rem rgba(165, 163, 174, 0.3) !important;

}

.table-responsive{
	max-height: 300px;
	
}

